{
    "MayaPyFileOpen":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyFileImport":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyLs":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyExist":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyListAttr":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyGetAttrType":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyAttrSelectorNumeric":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyAttrSelectorString":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyGetAttrNumeric":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyGetAttrString":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPySetAttrNumeric":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPySetAttrString":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyConnectAttr":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyDisconnectAttr":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyIsConnected":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyCreateNode":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyDelete":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyListConnections":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyListChildren":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    },

    "MayaPyListParents":
    {
        "category": "Maya/MayaPy",
        "bg": [0, 84, 50, 255],
        "border": [25, 25, 25, 255],
        "border_sel": [98, 215, 234, 255],
        "text": [230, 230, 230, 255],
      
        "port_bg": [80, 150, 120, 255],
        "port_text": [230, 230, 230, 255]
    }
}
